@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans Italic";
  src: url("/fonts/GeneralSans-VariableItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond Italic";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter Italic";
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@layer base {
  html {
    font-family: "General Sans", ui-sans-serif, system-ui;
    font-variant-numeric: lining-nums;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body, header, main, footer, a, button {
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease, fill 300ms ease;
}

:root {
  font-variant-numeric: lining-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  font-feature-settings: "kern" 1, "liga" 1, "smcp" 0;
}

html, body, #__next {
  height: 100%;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-toggle img {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  image-rendering: crisp-edges;
}

#hamburger-line {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* ========== Base (mobile-first) ========== */
/* .home-container {
  height: 100%;
  width: 100%;
}

.home-categories {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: none;
  gap: 0;
  height: 100%;
}

.category-link {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-large-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.home-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.home-image-wrapper > img {
  height: 100%;
  transform: scale(1.2);
}

.home-large-image.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.2) translateY(5%);
}

.home-image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: none;
  opacity: 0.3;
  pointer-events: none;
}

.category-label {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 26px;
  color: #ffffff;
} */

/* ========== Tablet: 600px – 900px ========== */
/* @media (min-width: 600px) {
  .category-label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
} */

/* ========== Desktop: 900px – 1200px ========== */
/* @media (min-width: 900px) {
 .home-categories {
    flex-direction: row;
  }

  .home-image-wrapper,
  .category-link {
    height: 100%;
}

  .category-label {
    font-size: 2.5rem;
  }
} */

/* ========== XL: 1200px+ ========== */
/* @media (min-width: 1200px) {
 .home-categories {
    flex-direction: row;
    width: 100vw;
    height: 100%;
  }

  .category-link {
    flex-direction: row;
  }
} */

/* HEADER */
/* ========== Base (mobile-first) ========== */
/* #portfolio-header {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 800;
  background-color: transparent;
  transition: all 0.2s ease;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-h);
} */

/* #portfolio-header::before {
  overflow: hidden;
} */

/* #rowan-logo {
  position: relative;
  margin: 0 0 0 1.5rem;
  max-height: 3rem;
  transition: opacity 0.5s ease;
  cursor: pointer;
} */

/* .menu-toggle {
  cursor: pointer;
  margin: 1.2rem 1.2rem auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 35px;
  align-items: center;
  padding: 0;
} */

/* .menu-toggle .bar {
  display: block;
  width: 130%;
  transition: all 0.5s ease;
  z-index: 999;
  height: auto;
  max-width: 40px;
  max-height: 16px;
  object-fit: contain;
} */

/* .menu-toggle.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
} */

/* .nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  top: 0;  
  right: 0;
  padding-top: calc(var(--header-h) + 20px);
  padding-left: 4vw;
  height: 100vh;
  width: 50vw;

  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1;
  background-color: white;
} */

/* #nav-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

/* #nav-footer p {
  line-height: 1.2;
  margin-top: auto;
  padding: 0 1rem 2rem 1rem;
} */

/* html.dark-mode .nav {
    background-color: black;
} */

/* .nav.open {
  transform: scaleY(1);
  z-index: -1;
  overflow: auto;
} */

/* .nav a {
  position: relative;
  display: inline-block;
  align-self: start;
  text-decoration: none;
  padding: 0;              
  margin: 0 1rem;           
  line-height: 1;  
  font-weight: 200;
  color: inherit;
} */

/* .nav h2 {
  transition: opacity 0.2s ease;
} */

/* .nav h3 {
  margin: 0;
  justify-content: center;
} */

/* .nav p {
  margin-top: auto;
  text-align: left;
  padding: 0 1rem 2rem 1rem;
}

.nav a:not(#logo):not(#coming-soon):not(.nav-item-shop)::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: transform 0.3s ease;
} */

/* html.dark-mode .nav a:not(#logo):not(#coming-soon):not(.nav-item-shop)::after,
html.dark-mode .dropdown-menu a,
html.dark-mode .dropdown-menu a::after {
  background-color: white;
}

.nav a:not(#logo):not(#coming-soon):not(.nav-item-shop):hover::after {
  transform: translateX(-50%) scaleX(1);
} */

/* .dropdown {
  position: relative;
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--seasalt);
  z-index: 10;
  border-radius: 4px;
}

.dropdown:hover .dropdown-menu {
  display: block;
} */

/* .dropdown-menu a {
  display: block;
  position: relative;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.dropdown-menu a:not(#logo):not(#coming-soon):not(.nav-item-shop)::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: transform 0.3s ease;
}

.dropdown-menu a:hover::after {
  transform: translateX(-50%) scaleX(1);
} */

/* #coming-soon {
  position: absolute;
  width: 8rem;
  top: 0%;
  left: 40%;
}

.nav-item-shop h2 {
  opacity: 20%;
} */

/* Disable when Shop becomes available */
/* .nav-item-shop:hover,
.nav-item-shop:focus,
.nav-item-shop:active {
  cursor: default;
}

.nav-item-shop::after,
#coming-soon::after {
  display: none !important;
}

.nav a:has(.nav-item-shop):hover::after,
.nav a:has(#coming-soon):hover::after {
  transform: none !important;
} */


/* ========== Tablet: 600px – 900px ========== */
/* @media (min-width: 600px) {

  #rowan-logo {
  max-height: 6vh;
  }

  #coming-soon {
  width: 8rem;
  top: 10%;
  left: 40%;
}
} */

/* ========== Desktop: 900px – 1200px ========== */
/* @media (min-width: 900px) {
  .portfolio-header {
    max-width: 1440px;
  }
} */

/* ========== XL: 1200px+ ========== */
@media (min-width: 1200px) {
  /* Add any extra spacing or adjustments for very large screens here */
}

/* FOOTER */

/* #portfolio-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
  padding: 0 5px;
  z-index: 100;
  background-color: none;
  box-sizing: border-box;
  transition: opacity 0.2s ease;
} */

/* html.dark-mode #footer {
  background-color: #000000;
} */

/* #portfolio-footer > p {
  margin: auto 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "General Sans", sans-serif;
  font-variant: small-caps;
  display: none;
} */

/* .circle-container {
  height: 22px;
}

.mode-toggle-button {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.mode-toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  inset: 0;
  background: var(--black-olive);
  border: none;
  border-radius: 15px;
  transition: 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
}

.slider::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 3px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 50%;
  background: var(--seasalt);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.mode-toggle-button input:checked + .slider {
  background: var(--seasalt);   
}

.mode-toggle-button input:checked + .slider::before {
  transform: translate(18px, -50%);
  background: var(--black-olive); 
} */

@media (min-width: 600px) {
  /* Tablet styles */
}

@media (min-width: 900px) {
  /* Desktop styles */
}

@media (min-width: 1200px) {
  /* XL styles */
}