@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans Italic";
  src: url("/fonts/GeneralSans-VariableItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond Italic";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter Italic";
  src: url("/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@layer base {
  html {
    font-family: "General Sans", ui-sans-serif, system-ui;
    font-variant-numeric: lining-nums;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body, header, main, footer, a, button {
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease, fill 300ms ease;
}

:root {
  font-variant-numeric: lining-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  --color-black: #000;
    --color-white: #fff;
    --container-side-space: 1.5rem;
   --header-height: clamp(3.5rem, 8vh, 5rem); 
    --rte-link-hover-color: #f8f8f8;
    --rte-link-visited-color: #f8f8f8;
}

html {
  color-scheme: light dark;
  font-feature-settings: "kern" 1, "liga" 1, "smcp" 0;
}

html, body, #__next {
  height: 100%;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* smooth inertial scrolling (especially Safari / iOS) */
main {
  -webkit-overflow-scrolling: touch;
}

.menu-toggle img {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  image-rendering: -webkit-optimize-contrast;
}

#hamburger-line {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* utility to hide horizontal scrollbar but keep scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}