.about-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: transparent;
    margin: 5vh auto;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.about-container h2 {
  text-align: center;
  padding-top: 1rem;
}

.about, .socials, .reviews {
    margin: auto;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
  }

  .about {
    flex: 4;
    margin-top: 20vh; /* 5vh if portrait visible */
  }

  .about-portrait {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: none; /* Hidden for now */
  }
  
  .about-container h2 {
    margin-bottom: 1rem;
  }

  .socials {
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  .socials-grid {
    display: flex;
    justify-content: center; 
    gap: 1.3rem;        
    width: 100%;
    height: 100%;  
    padding-top: 2rem;         
  }

  .socials-grid a {
    color: var(--black-olive);
    transition: all 0.1s ease-in-out;
  }

  .socials-grid a:hover {
    color: var(--rose-quartz);
  }

  .socials-grid a img {
    width: 100%;
    height: 100%; 
  }

  .reviews {
    flex: 3;
    display: flex-end;
    padding-top: 2rem; 
  }

  .quote-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
  }

  .about-container p, 
  .about-container q {
    padding: 0;
    min-width: 300px;
    max-width: 800px;
  }

  #link {
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
  }

    #link:hover {
    color: var(--rose-quartz);
  }
