.home-two-columns {
  display: flex;
  gap: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-image-link {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  height: 100%;
}

.home-large-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: transform 0.2s;
}

.home-image-link:hover .home-large-image {
  transform: scale(1.03);
}

.home-image-label {
  z-index: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

@media (max-width: 600px) {
  .home-two-columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .home-image-link {
    height: 100%;
    width: 100%;
  }

  .home-large-image {
    height: 100%;
    max-width: 100%;
    width: 100vw;
  }
}