.work-detail {
  display: flex;
  flex-direction: row;
  /*height: calc(100vh - 5vh);*/
  width: 100%;
  z-index: 1;
  align-items: flex-start;
  box-sizing: border-box;
  }

  @media screen and (max-width: 575px) {
    .work-detail {
      flex-direction: column;
      padding: 0;
      box-sizing: border-box;
      overflow-y: auto;
      overflow-x: hidden;
      height: auto;
      min-height: 100vh;
    }
  }

   .work-info {
    position: fixed;
    top: 0;
    align-self: flex-start;
    margin-top: 25vh;
    padding-left: 2rem;
    width: 33.33vw;
    height: auto;
    background-color: none;
    overflow: hidden;
    overflow-wrap: break-word;
    box-sizing: border-box;
    z-index: 50;
  }

@media screen and (max-width: 600px) {
    .work-info {
    position: static;
    min-width: 100%;
    padding: 0.5rem;
    margin-top: 10vh;
    }
  }

  .work-image {
    margin-top: 15vh;
    margin-left: 33.33vw;
  }

  @media screen and (max-width: 600px) {
    .work-image {
     margin: 0;
    }
  }

.work-detail-masonry-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  z-index: 10;
  -ms-overflow-style: none;      
  scrollbar-width: none;         
  -webkit-overflow-scrolling: touch; 
  justify-content: flex-start;
  align-content: center;
}

.work-detail-masonry-grid::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 600px) {
  .work-detail-masonry-grid {
    flex-direction: column;
    padding: 0 4vw;
    gap: 0.5rem;
  }
}

.work-detail-masonry-grid_column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.work-detail-masonry-grid_column > img,
.work-detail-masonry-grid_column > video {
  width: 100%;
  max-height: 90vh;
  max-width: 50vw;
  display: block;
  object-fit: contain;
  margin: 0;
  aspect-ratio: 1 / 1;
}

.context-image,
.work-detail-masonry-grid_column > img,
.work-detail-masonry-grid_column > video {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
   max-width: 100%;
   height: auto;
   display: block;
}

@media screen and (max-width: 600px) { 
.work-detail-masonry-grid_column > img,
.work-detail-masonry-grid_column > video {
  max-height: 70vh;
  max-width: 100vw;
}
}

  .work-info h1 {
    margin-bottom: 1rem;
  }
  
  .close-btn {
    position: relative;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    margin-bottom: 1.5rem;
  }

  html.dark-mode .close-btn {
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    /*.work-detail {
      flex-direction: column;
    }*/
  
    .work-info {
      width: 100%;
      padding: 2rem;
    }
  
    .work-image {
      width: 100%;
    }
  }

  figcaption {
    font-size: 11px;
    padding-top: 20px;
  }

  .image-preview figcaption {
    display: none;
  }

  .external-link-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: none;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
    transition: opacity 0.3s ease;
  }
  
  .external-link-button:hover {
    border: 1px solid var(--rose-quartz);
    color: var(--rose-quartz);
  }

 /* Context Images */
 .context-image-wrapper {
  position: relative;
}

.context-image-grid {
  position: relative;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 1.5rem;
  gap: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  -webkit-overflow-scrolling: touch; 
}

.context-image-grid::-webkit-scrollbar {
  display: none;            
}

@media screen and (max-width: 575px) {
  .context-image-grid {
    margin-top: 1rem;
  }
}

  .context-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
  }

.context-image {
  width: 5rem;
  max-width: 120px;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0.85;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.context-image:hover {
  opacity: 1;
  cursor: pointer;
}

/* Scroll arrows */
.context-image-wrapper .scroll-arrow {
  all: unset;
  /*opacity: 0;*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.context-image-wrapper:hover .scroll-arrow {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  pointer-events: auto;
  cursor: pointer;
}

.context-image-wrapper .scroll-arrow.left {
  left: 0px;
}

.context-image-wrapper .scroll-arrow.right {
  right: 0;
}

@media screen and (max-width: 600px) {
  .context-image-wrapper .scroll-arrow {
  opacity: 1;
  pointer-events: active;
}
}

  /* Image Preview */
.image-preview {
  position: fixed;
  inset: 0;
  /*top: 0;
  left: 0;
  /*width: 100vw;
  height: 100vh;*/
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 900;
}

.image-preview img.preview-artwork, 
.image-preview video.preview-artwork {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
  margin: auto;
  padding-bottom: 12vh;
}

.preview-close,
.preview-prev,
.preview-next {
  position: absolute;
  background: none;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

html.dark-mode .preview-close,
html.dark-mode .preview-prev,
html.dark-mode .preview-next {
  color: var(--seasalt);
}

.preview-close {
  top: 5rem;
  right: 5rem;
}

.preview-prev {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.preview-next {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.coming-soon-tag {
  position: relative;
  color: inherit;
  text-transform: uppercase;
}

  #link {
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
  }

    #link:hover {
    color: var(--rose-quartz);
  }