:root {
	--light-color: #f0ece6;
	--seasalt: #f9f9f9;
	--beige: #f5f7dc;
	--baby-powder: #f7f9f7;
	--platinum: #d8dbe2;
	--rose-quartz: #A7A2A9;
	--dark-color: #261b13;
	--highlight-color: #4040e3;
	--celadon: #B5D99C;
	--fern-green: #3a7d44;
	--emerald: #69b548;
	--kelly-green: #76b041;
	--cal-poly-green: #254d32;
	--vanilla: #d0db97;
	--argentinian-blue: #5aa9e6;
	--black-olive: #353531;
}

@-ms-viewport {
  width: device-width;
}



*, *:before, *:after {
  box-sizing: inherit;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  background-color: var(--seasalt);
  color: black;
  transition: background-color 0.5 ease, color 0.5 ease;
  font-size: 16px;
}

html, body {
  height: 100%;
  width: 100vw;
  transition: all 0.4s ease;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  html {
     font-size: 14px;
  }
 
  html, body {
    min-width: 320px;
  }

}

html.dark-mode {
  background-color: black;
  color: white;
}

.hidden {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, a, p, q, cite, nav {
  color: black;
  text-decoration: none;
  white-space: pre-line;
}

html.dark-mode h1,
html.dark-mode a,
html.dark-mode p,
html.dark-mode q,
html.dark-mode cite {
  color: white;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
}

@font-face {
  font-family: 'EB Garamond Italic';
  src: url('/fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-variant-numeric: tabular-nums;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro-VariableFont_HEXP,wght.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
}


@font-face {
  font-family: 'Didact Gothic';
  src: url('/fonts/DidactGothic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
}


@font-face {
  font-family: 'Figtree';
  src: url('/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-variant-numeric: tabular-nums;
}

h1 {
  font-family: 'EB Garamond', sans-serif;
  font-size: 2rem;
  line-height: 1em;
}

h2 {
  font-family: 'EB Garamond', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0.025rem;
  line-height: 1.6em;
}

body {
  font-family: 'EB Garamond', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6em;
}

q {
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1.2em;
}

cite {
  font-family: 'EB Garamond Italic', serif;
  font-size: 0.875rem;
}

  @media screen and (max-width: 600px)  {
    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    body {
      font-size: 0.875rem;
      line-height: 1.6;
      }

      q {
        font-size: 1.2rem;
      }

      cite {
        font-size: 0.75rem;
      }
  }

@media screen and (min-width: 600px) and (max-width: 905px) {
      q {
        font-size: 1.3rem;
      }
}


